{% extends 'blog/base.html' %}

{% load static %}  <!-- Ensure this is at the top -->

{% block content %}
  <!-- Posts -->
  {% for post in posts %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/code.css' %}">
    <div class="post">
      <h1>
        <a href="{% url 'post_detail' post_id=post.pk %}">{{ post.title }}</a>
      </h1>
      <p class="post-stat" name="author">
        <i class="material-icons">person</i>
        {{ post.author }}
      </p>
      <p>{{ post.text | safe | truncatewords:50 }}</p>
      <div class="row">
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 post-stat" name="date">
          <i class="material-icons">event_available</i>
          {{ post.published_date | date:'d M, Y' }}
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 post-stat" name="comments">
          <i class="material-icons">comment</i>
          {{ post.approved_comments.count }}
        </div>
      </div>
    </div>
  {% empty %}
    <div class="post">
      <p>No posts to read</p>
    </div>
  {% endfor %}
  <!-- /Posts -->
{% endblock %}
